<div>
    <h3 class="alert-danger">We're so sorry</h3>
    <br />
    <br />
    <br />
    <img src="~/images/error.png" class="img-thumbnail" style="height: 200px; width: 200px;" />
    <p>The resource you're trying to find does not exist or has been deleted</p>
    <a class="btn btn-primary btn-success" style="width: auto;" asp-controller="Home" asp-action="Index">Click to go to the Home Page</a>
</div>